body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.wrap {
  max-width: 767px;
  position: relative;
  margin: 0 auto;
  padding: 10px 15px;
}

.wrap > div, main, .message {
  width: 100%;
}

main {
  padding: 20px;
}

.ui.items > .item {
  padding: 15px !important;
  border-radius: 5px !important;
  border: 1px solid #ccc !important;
}

/*flex*/

.flex {
  display: flex;
}

.flex-dir-col {
  flex-direction: column;
}

.flex-ali-center {
  align-items: center;
}

.flex-ali-start {
  align-items: flex-start;
}

.flex-ali-end {
  align-items: flex-end;
}

.flex-jus-center {
  justify-content: center;
}
